TOPIC: String Based Assignment Problem

Full Stack Data Science Pro
1. Write a program to reverse a string.
2. Check if a string is a palindrome.
3. Convert a string to uppercase.
4. Convert a string to lowercase.
5. Count the number of vowels in a string.
6. Count the number of consonants in a string.
7. Remove all whitespaces from a string.
8. Find the length of a string without using the `len()` function.
9. Check if a string contains a specific word.
10. Replace a word in a string with another word.
11. Count the occurrences of a word in a string.
12. Find the first occurrence of a word in a string.
13. Find the last occurrence of a word in a string.
14. Split a string into a list of words.
15. Join a list of words into a string.
16. Convert a string where words are separated by spaces to one where words
are separated by underscores.
17. Check if a string starts with a specific word or phrase.
18. Check if a string ends with a specific word or phrase.
19. Convert a string to title case (e.g., "hello world" to "Hello World").
20. Find the longest word in a string.
21. Find the shortest word in a string.
22. Reverse the order of words in a string.
23. Check if a string is alphanumeric.
24. Extract all digits from a string.
25. Extract all alphabets from a string.
26. Count the number of uppercase letters in a string.
27. Count the number of lowercase letters in a string.
28. Swap the case of each character in a string.
29. Remove a specific word from a string.
30. Check if a string is a valid email address.

Full Stack Data Science Pro
31. Extract the username from an email address string.
32. Extract the domain name from an email address string.
33. Replace multiple spaces in a string with a single space.
34. Check if a string is a valid URL.
35. Extract the protocol (http or https) from a URL string.
36. Find the frequency of each character in a string.
37. Remove all punctuation from a string.
38. Check if a string contains only digits.
39. Check if a string contains only alphabets.
40. Convert a string to a list of characters.
41. Check if two strings are anagrams.
42. Encode a string using a Caesar cipher.
43. Decode a Caesar cipher encoded string.
44. Find the most frequent word in a string.
45. Find all unique words in a string.
46. Count the number of syllables in a string.

Full Stack Data Science Pro
47. Check if a string contains any special characters.
48. Remove the nth word from a string.
49. Insert a word at the nth position in a string.
50. Convert a CSV string to a list of lists.

List Based Practice Problem :

1. Create a list with integers from 1 to 10.
2. Find the length of a list without using the `len()` function.
3. Append an element to the end of a list.
4. Insert an element at a specific index in a list.
5. Remove an element from a list by its value.
6. Remove an element from a list by its index.
7. Check if an element exists in a list.

8. Find the index of the first occurrence of an element in a list.

9. Count the occurrences of an element in a list.

10. Reverse the order of elements in a list.

Full Stack Data Science Pro

11. Sort a list in ascending order.
12. Sort a list in descending order.
13. Create a list of even numbers from 1 to 20.

14. Create a list of odd numbers from 1 to 20.

15. Find the sum of all elements in a list.

16. Find the maximum value in a list.

17. Find the minimum value in a list.

18. Create a list of squares of numbers from 1 to 10.
19. Create a list of random numbers.

20. Remove duplicates from a list.
21. Find the common elements between two lists.

22. Find the difference between two lists.

23. Merge two lists.
24. Multiply all elements in a list by 2.
25. Filter out all even numbers from a list.

Full Stack Data Science Pro

26. Convert a list of strings to a list of integers.
27. Convert a list of integers to a list of strings.
28. Flatten a nested list.

29. Create a list of the first 10 Fibonacci numbers.

30. Check if a list is sorted.

31. Rotate a list to the left by `n` positions.
32. Rotate a list to the right by `n` positions.
33. Create a list of prime numbers up to 50.
34. Split a list into chunks of size `n`.
35. Find the second largest number in a list.
36. Replace every element in a list with its square.
37. Convert a list to a dictionary where list elements become keys and their
indices become values.

38. Shuffle the elements of a list randomly.
39. Create a list of the first 10 factorial numbers.

Full Stack Data Science Pro
40. Check if two lists have at least one element in common.

41. Remove all elements from a list.

42. Replace negative numbers in a list with 0.
43. Convert a string into a list of words.
44. Convert a list of words into a string.
45. Create a list of the first `n` powers of 2.
46. Find the longest string in a list of strings.
47. Find the shortest string in a list of strings.
48. Create a list of the first `n` triangular numbers.
49. Check if a list contains another list as a subsequence.
50. Swap two elements in a list by their indices.

1. Create a tuple with integers from 1 to 5.
2. Access the third element of a tuple.
3. Find the length of a tuple without using the `len()` function.
4. Count the occurrences of an element in a tuple.
Tuple Based Practice Problem :

Full Stack Data Science Pro

5. Find the index of the first occurrence of an element in a tuple.
6. Check if an element exists in a tuple.
7. Convert a tuple to a list.
8. Convert a list to a tuple.
9. Unpack the elements of a tuple into variables.
10. Create a tuple of even numbers from 1 to 10.
11. Create a tuple of odd numbers from 1 to 10.
12. Concatenate two tuples.
13. Repeat a tuple three times.
14. Check if a tuple is empty.
15. Create a nested tuple.
16. Access the first element of a nested tuple.
17. Create a tuple with a single element.
18. Compare two tuples.
19. Delete a tuple.
20. Slice a tuple.

Full Stack Data Science Pro

21. Find the maximum value in a tuple.
22. Find the minimum value in a tuple.
23. Convert a string to a tuple of characters.
24. Convert a tuple of characters to a string.
25. Create a tuple from multiple data types.
26. Check if two tuples are identical.
27. Sort the elements of a tuple.
28. Convert a tuple of integers to a tuple of strings.
29. Convert a tuple of strings to a tuple of integers.
30. Merge two tuples.
31. Flatten a nested tuple.
32. Create a tuple of the first 5 prime numbers.
33. Check if a tuple is a palindrome.
34. Create a tuple of squares of numbers from 1 to 5.
35. Filter out all even numbers from a tuple.
36. Multiply all elements in a tuple by 2.

Full Stack Data Science Pro

37. Create a tuple of random numbers.
38. Check if a tuple is sorted.
39. Rotate a tuple to the left by `n` positions.
40. Rotate a tuple to the right by `n` positions.
41. Create a tuple of the first 5 Fibonacci numbers.
42. Create a tuple from user input.
43. Swap two elements in a tuple.
44. Reverse the elements of a tuple.
45. Create a tuple of the first `n` powers of 2.
46. Find the longest string in a tuple of strings.
47. Find the shortest string in a tuple of strings.
48. Create a tuple of the first `n` triangular numbers.
49. Check if a tuple contains another tuple as a subsequence.
50. Create a tuple of alternating 1s and 0s of length `n`.

Full Stack Data Science Pro

1. Create a set with integers from 1 to 5.
2. Add an element to a set.

3. Remove an element from a set.

4. Check if an element exists in a set.

5. Find the length of a set without using the `len()` function.
6. Clear all elements from a set.

7. Create a set of even numbers from 1 to 10.

8. Create a set of odd numbers from 1 to 10.

9. Find the union of two sets.

10. Find the intersection of two sets.

11. Find the difference between two sets.

12. Check if a set is a subset of another set.

13. Check if a set is a superset of another set.
14. Create a set from a list.

15. Convert a set to a list.
Set Based Practice Problem :

Full Stack Data Science Pro

16. Remove a random element from a set.

17. Pop an element from a set.
18. Check if two sets have no elements in common.

19. Find the symmetric difference between two sets.
20. Update a set with elements from another set.
21. Create a set of the first 5 prime numbers.
22. Check if two sets are identical.

23. Create a frozen set.

24. Check if a set is disjoint with another set.
25. Create a set of squares of numbers from 1 to 5.
26. Filter out all even numbers from a set.

27. Multiply all elements in a set by 2.
28. Create a set of random numbers.

29. Check if a set is empty.
30. Create a nested set (hint: use frozenset).

31. Remove an element from a set using the discard method.

Full Stack Data Science Pro

32. Compare two sets.
33. Create a set from a string.
34. Convert a set of strings to a set of integers.
35. Convert a set of integers to a set of strings.
36. Create a set from a tuple.
37. Convert a set to a tuple.
38. Find the maximum value in a set.

39. Find the minimum value in a set.

40. Create a set from user input.
41. Check if the intersection of two sets is empty.
42. Create a set of the first 5 Fibonacci numbers.

43. Remove duplicates from a list using sets.
44. Check if two sets have the same elements, regardless of their count.
45. Create a set of the first `n` powers of 2.
46. Find the common elements between a set and a list.

47. Create a set of the first `n` triangular numbers.

Full Stack Data Science Pro
48. Check if a set contains another set as a subset.

49. Create a set of alternating 1s and 0s of length `n`.
50. Merge multiple sets into one.

In [1]:
def reverse_string(input_str):
    return input_str[::-1]

# Example
original_string = "Hello, World!"
reversed_string = reverse_string(original_string)
print(reversed_string)

!dlroW ,olleH

In [2]:
def is_palindrome(input_str):
    cleaned_str = ''.join(input_str.split()).lower()
    return cleaned_str == cleaned_str[::-1]

# Example
test_string = "A man a plan a canal Panama"
print(is_palindrome(test_string))

True

In [3]:
def convert_to_uppercase(input_str):
    return input_str.upper()

# Example
original_string = "Hello, World!"
uppercase_string = convert_to_uppercase(original_string)
print(uppercase_string)

HELLO, WORLD!

In [4]:
def convert_to_lowercase(input_str):
    return input_str.lower()

# Example
original_string = "Hello, World!"
lowercase_string = convert_to_lowercase(original_string)
print(lowercase_string)

hello, world!

In [5]:
def count_vowels(input_str):
    vowels = "aeiouAEIOU"
    return sum(1 for char in input_str if char in vowels)

# Example
test_string = "Hello, World!"
print(count_vowels(test_string))

3

In [6]:
def count_consonants(input_str):
    vowels = "aeiouAEIOU"
    return sum(1 for char in input_str if char.isalpha() and char not in vowels)

# Example
test_string = "Hello, World!"
print(count_consonants(test_string))

7

In [7]:
def remove_whitespaces(input_str):
    return ''.join(input_str.split())

# Example
original_string = "Hello, World!"
no_whitespaces_string = remove_whitespaces(original_string)
print(no_whitespaces_string)

Hello,World!

In [8]:
def find_length(input_str):
    count = 0
    for char in input_str:
        count += 1
    return count

# Example
test_string = "Hello, World!"
length = find_length(test_string)
print(length)

13

In [9]:
def contains_word(input_str, word):
    return word in input_str

# Example
test_string = "Hello, World!"
specific_word = "World"
print(contains_word(test_string, specific_word))

True

In [10]:
def replace_word(input_str, old_word, new_word):
    return input_str.replace(old_word, new_word)

# Example
original_string = "Hello, World!"
new_string = replace_word(original_string, "World", "Universe")
print(new_string)

Hello, Universe!

In [11]:
def count_word_occurrences(input_str, word):
    words = input_str.split()
    return words.count(word)

# Example
test_string = "Hello, World! Hello, Universe! Hello, World!"
word_to_count = "Hello"
print(count_word_occurrences(test_string, word_to_count))

0

In [12]:
def find_first_occurrence(input_str, word):
    index = input_str.find(word)
    return index if index != -1 else None

# Example
test_string = "Hello, World! Hello, Universe! Hello, World!"
word_to_find = "Hello"
print(find_first_occurrence(test_string, word_to_find))

0

In [13]:
def find_last_occurrence(input_str, word):
    index = input_str.rfind(word)
    return index if index != -1 else None

# Example
test_string = "Hello, World! Hello, Universe! Hello, World!"
word_to_find = "Hello"
print(find_last_occurrence(test_string, word_to_find))

31

In [14]:
def split_string(input_str):
    return input_str.split()

# Example
test_string = "Hello, World!"
word_list = split_string(test_string)
print(word_list)

['Hello,', 'World!']

In [15]:
def join_words(word_list):
    return ' '.join(word_list)

# Example
word_list = ["Hello", "World!"]
joined_string = join_words(word_list)
print(joined_string)

Hello World!

In [16]:
original_string = "hello world"
underscore_string = original_string.replace(" ", "_")
print(underscore_string)

hello_world

In [17]:
my_string = "Hello, world!"
starts_with_hello = my_string.startswith("Hello")
print(starts_with_hello)

True

In [20]:
my_string = "hello world"
title_case_string = my_string.title()
print(title_case_string)

Hello World

In [21]:
my_string = "hello world"
title_case_string = my_string.title()
print(title_case_string)

Hello World

In [22]:
my_string = "This is a sample string"
reversed_string = ' '.join(reversed(my_string.split()))
print(reversed_string)

string sample a is This

In [23]:
my_string = "abc123"
is_alphanumeric = my_string.isalnum()
print(is_alphanumeric)

True

In [24]:
my_string = "abc123xyz456"
digits_only = ''.join(filter(str.isdigit, my_string))
print(digits_only)

123456

In [25]:
my_string = "abc123xyz456"
alphabets_only = ''.join(filter(str.isalpha, my_string))
print(alphabets_only)

abcxyz

In [26]:
my_string = "Hello World"
uppercase_count = sum(1 for char in my_string if char.isupper())
print(uppercase_count)

2

In [27]:
my_string = "Hello World"
lowercase_count = sum(1 for char in my_string if char.islower())
print(lowercase_count)

8

In [28]:
my_string = "Hello World"
swapped_case_string = my_string.swapcase()
print(swapped_case_string)

hELLO wORLD

In [29]:
original_string = "Hello World"
word_to_remove = "World"
new_string = original_string.replace(word_to_remove, '')
print(new_string)

Hello

In [30]:
import re

email_address = "user@example.com"
is_valid_email = re.match(r"[^@]+@[^@]+\.[^@]+", email_address) is not None
print(is_valid_email)

True

In [31]:
email_address = "user@example.com"
username = email_address.split('@')[0]
print(username)

user

In [33]:
email_address = "user@example.com"
domain_name = email_address.split('@')[1]
print(domain_name)

example.com

In [34]:
my_string = "Hello      World"
single_space_string = ' '.join(my_string.split())
print(single_space_string)

Hello World

In [35]:
import re

url = "http://www.example.com"
is_valid_url = re.match(r"https?://www\.[a-zA-Z0-9-]+\.[a-zA-Z]{2,}", url) is not None
print(is_valid_url)

True

In [36]:
url = "https://www.example.com"
protocol = url.split('://')[0]
print(protocol)

https

In [37]:
my_string = "hello world"
char_frequency = {char: my_string.count(char) for char in set(my_string)}
print(char_frequency)

{'o': 2, 'w': 1, 'h': 1, 'd': 1, 'e': 1, 'l': 3, 'r': 1, ' ': 1}

In [38]:
import string

my_string = "Hello, world!"
no_punctuation_string = my_string.translate(str.maketrans("", "", string.punctuation))
print(no_punctuation_string)

Hello world

In [39]:
my_string = "12345"
contains_only_digits = my_string.isdigit()
print(contains_only_digits)

True

In [41]:
my_string = "hello"
char_list = list(my_string)
print(char_list)

['h', 'e', 'l', 'l', 'o']

In [42]:
str1 = "listen"
str2 = "silent"
are_anagrams = sorted(str1) == sorted(str2)
print(are_anagrams)

True

In [43]:
def caesar_cipher(text, shift):
    result = ""
    for char in text:
        if char.isalpha():
            ascii_offset = ord('a') if char.islower() else ord('A')
            result += chr((ord(char) - ascii_offset + shift) % 26 + ascii_offset)
        else:
            result += char
    return result

original_text = "Hello World"
shift_amount = 3
encoded_text = caesar_cipher(original_text, shift_amount)
print(encoded_text)

Khoor Zruog

In [44]:
def caesar_decipher(text, shift):
    return caesar_cipher(text, -shift)

decoded_text = caesar_decipher(encoded_text, shift_amount)
print(decoded_text)

Hello World

In [45]:
from collections import Counter

my_string = "hello world hello"
most_frequent_word = Counter(my_string.split()).most_common(1)[0][0]
print(most_frequent_word)

hello

In [46]:
my_string = "hello world hello"
unique_words = set(my_string.split())
print(unique_words)

{'world', 'hello'}

In [51]:
# 1. Create a list with integers from 1 to 10
my_list = list(range(1, 11))
print("List with integers from 1 to 10:", my_list)

List with integers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
# 2. Find the length of a list without using the len() function
def find_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

length_of_list = find_length(my_list)
print("Length of the list:", length_of_list)

Length of the list: 10

In [53]:
# 3. Append an element to the end of a list
my_list.append(11)
print("List after appending element:", my_list)

List after appending element: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [55]:
# 6. Remove an element from a list by its index
del my_list[4]
print("List after removing element at index 4:", my_list)

List after removing element at index 4: [1, 2, 12, 3, 5, 6, 7, 8, 9, 10, 11]

In [56]:
# 7. Check if an element exists in a list
element_to_check = 8
element_exists = element_to_check in my_list
print(f"Does {element_to_check} exist in the list? {element_exists}")

Does 8 exist in the list? True

In [57]:
# 8. Find the index of the first occurrence of an element in a list
index_of_element = my_list.index(10)
print(f"Index of {element_to_check}: {index_of_element}")

Index of 8: 9

In [58]:
# 9. Count the occurrences of an element in a list
count_of_element = my_list.count(3)
print(f"Count of {element_to_check}: {count_of_element}")

Count of 8: 1

In [59]:
# 10. Reverse the order of elements in a list
reversed_list = my_list[::-1]
print("Reversed List:", reversed_list)

Reversed List: [11, 10, 9, 8, 7, 6, 5, 3, 12, 2, 1]

In [60]:
# 11. Sort a list in ascending order
sorted_list_asc = sorted(my_list)
print("Sorted List (Ascending):", sorted_list_asc)

Sorted List (Ascending): [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12]

In [61]:
# 13. Create a list of even numbers from 1 to 20
even_numbers = list(range(2, 21, 2))
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [62]:
# 14. Create a list of odd numbers from 1 to 20
odd_numbers = list(range(1, 21, 2))
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [63]:
# 15. Find the sum of all elements in a list
sum_of_elements = sum(my_list)
print("Sum of elements:", sum_of_elements)

Sum of elements: 74

In [64]:
# 16. Find the maximum value in a list
max_value = max(my_list)
print("Maximum value:", max_value)

Maximum value: 12

In [65]:
# 18. Create a list of squares of numbers from 1 to 10
squares_list = [x**2 for x in range(1, 11)]
print("List of squares:", squares_list)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
# 19. Create a list of random numbers
import random
random_list = [random.randint(1, 100) for _ in range(10)]
print("List of random numbers:", random_list)

List of random numbers: [2, 14, 3, 25, 85, 4, 24, 32, 88, 23]

In [67]:
# 20. Remove duplicates from a list
unique_list = list(set(my_list))
print("List without duplicates:", unique_list)

List without duplicates: [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12]

In [68]:
# 21. Find the common elements between two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = list(set(list1) & set(list2))
print("Common elements between two lists:", common_elements)

Common elements between two lists: [3, 4, 5]

In [69]:
# 22. Find the difference between two lists
difference_list = list(set(list1) - set(list2))
print("Difference between two lists:", difference_list)

Difference between two lists: [1, 2]

In [70]:
# 23. Merge two lists
merged_list = my_list + even_numbers
print("Merged List:", merged_list)

Merged List: [1, 2, 12, 3, 5, 6, 7, 8, 9, 10, 11, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [71]:
# 24. Multiply all elements in a list by 2
multiplied_list = [x * 2 for x in my_list]
print("List with elements multiplied by 2:", multiplied_list)

List with elements multiplied by 2: [2, 4, 24, 6, 10, 12, 14, 16, 18, 20, 22]

In [72]:
# 25. Filter out all even numbers from a list
filtered_list = [x for x in my_list if x % 2 != 0]
print("List without even numbers:", filtered_list)

List without even numbers: [1, 3, 5, 7, 9, 11]

In [74]:
# 26. Convert a list of strings to a list of integers
string_list = ["1", "2", "3", "4", "5"]
int_list = list(map(int, string_list))
print("List of integers:", int_list)

List of integers: [1, 2, 3, 4, 5]

In [75]:
# 27. Convert a list of integers to a list of strings
int_list = [1, 2, 3, 4, 5]
string_list = list(map(str, int_list))
print("List of strings:", string_list)

List of strings: ['1', '2', '3', '4', '5']

In [76]:
# 28. Flatten a nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened List:", flattened_list)

Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]

In [77]:
# 29. Create a list of the first 10 Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list[:n]

first_10_fibonacci = generate_fibonacci(10)
print("First 10 Fibonacci numbers:", first_10_fibonacci)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [78]:
# 30. Check if a list is sorted
def is_sorted(lst):
    return all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))

sorted_check = is_sorted(my_list)
print(f"Is the list sorted? {sorted_check}")

Is the list sorted? False

In [79]:
# 31. Rotate a list to the left by `n` positions
def rotate_left(lst, n):
    n = n % len(lst)
    return lst[n:] + lst[:n]

rotated_left_list = rotate_left(my_list, 2)
print("List rotated to the left:", rotated_left_list)

List rotated to the left: [12, 3, 5, 6, 7, 8, 9, 10, 11, 1, 2]

In [80]:
# 32. Rotate a list to the right by `n` positions
def rotate_right(lst, n):
    n = n % len(lst)
    return lst[-n:] + lst[:-n]

rotated_right_list = rotate_right(my_list, 2)
print("List rotated to the right:", rotated_right_list)

List rotated to the right: [10, 11, 1, 2, 12, 3, 5, 6, 7, 8, 9]

In [81]:
# 33. Create a list of prime numbers up to 50
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_list = [i for i in range(2, 51) if is_prime(i)]
print("List of prime numbers up to 50:", prime_list)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [82]:
# 34. Split a list into chunks of size `n`
def chunk_list(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

chunked_list = chunk_list(my_list, 3)
print("List split into chunks of size 3:", chunked_list)

List split into chunks of size 3: [[1, 2, 12], [3, 5, 6], [7, 8, 9], [10, 11]]

In [83]:
# 35. Find the second largest number in a list
def second_largest(lst):
    unique_numbers = set(lst)
    sorted_numbers = sorted(unique_numbers)
    if len(sorted_numbers) < 2:
        return None
    return sorted_numbers[-2]

second_largest_number = second_largest(my_list)
print("Second largest number:", second_largest_number)

Second largest number: 11

In [84]:
# 36. Replace every element in a list with its square
squared_list = [x**2 for x in my_list]
print("List with elements squared:", squared_list)

List with elements squared: [1, 4, 144, 9, 25, 36, 49, 64, 81, 100, 121]

In [85]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values
list_to_dict = {value: index for index, value in enumerate(my_list)}
print("Dictionary from the list:", list_to_dict)

Dictionary from the list: {1: 0, 2: 1, 12: 2, 3: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9, 11: 10}

In [86]:
# 39. Create a list of the first 10 factorial numbers
import math
factorial_list = [math.factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_list)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [87]:
# 40. Check if two lists have at least one element in common
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
common_elements_check = any(item in list1 for item in list2)
print(f"Do the lists have at least one element in common? {common_elements_check}")

Do the lists have at least one element in common? True

In [88]:
# 41. Remove all elements from a list
my_list.clear()
print("List after removing all elements:", my_list)

List after removing all elements: []

In [89]:
# 43. Convert a string into a list of words
input_string = "This is a sample string"
word_list = input_string.split()
print("List of words from the string:", word_list)

List of words from the string: ['This', 'is', 'a', 'sample', 'string']

In [90]:
# 44. Convert a list of words into a string
word_list = ["This", "is", "a", "sample", "list"]
string_from_list = " ".join(word_list)
print("String from the list of words:", string_from_list)

String from the list of words: This is a sample list

In [91]:
# 45. Create a list of the first `n` powers of 2
n = 5
powers_of_two_list = [2 ** i for i in range(n)]
print(f"List of the first {n} powers of 2:", powers_of_two_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [92]:
# 45. Create a list of the first `n` powers of 2
n = 5
powers_of_two_list = [2 ** i for i in range(n)]
print(f"List of the first {n} powers of 2:", powers_of_two_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [93]:
# 46. Find the longest string in a list of strings
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]
longest_string = max(string_list, key=len)
print("Longest string in the list:", longest_string)

Longest string in the list: strawberry

In [94]:
# 47. Find the shortest string in a list of strings
shortest_string = min(string_list, key=len)
print("Shortest string in the list:", shortest_string)

Shortest string in the list: kiwi

In [95]:
# 48. Create a list of the first `n` triangular numbers
triangular_numbers_list = [(i * (i + 1)) // 2 for i in range(n)]
print(f"List of the first {n} triangular numbers:", triangular_numbers_list)

List of the first 5 triangular numbers: [0, 1, 3, 6, 10]

In [96]:
# 49. Check if a list contains another list as a subsequence
sub_list = [3, 4, 5]
is_subsequence = all(item in my_list for item in sub_list)
print(f"Is the sub_list a subsequence of my_list? {is_subsequence}")

Is the sub_list a subsequence of my_list? False

In [99]:
# 50. Swap two elements in a list by their indices
index1, index2 = 1, 3

if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
    print("List after swapping elements:", my_list)
else:
    print("Invalid indices. Please ensure indices are within the range of the list.")

Invalid indices. Please ensure indices are within the range of the list.

1. Create a tuple with integers from 1 to 5.

In [2]:
my_tuple = (1, 2, 3, 4, 5)

In [3]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print("Third element:", third_element)

Third element: 3

In [4]:
tuple_length = sum(1 for _ in my_tuple)
print("Length of the tuple:", tuple_length)

Length of the tuple: 5

In [5]:
element_to_count = 3  # Change this to the element you want to count
count_occurrences = my_tuple.count(element_to_count)
print(f"Occurrences of {element_to_count} in the tuple:", count_occurrences)

Occurrences of 3 in the tuple: 1

In [6]:
my_tuple = (1, 2, 3, 4, 5)
element_to_find = 3
index_of_element = my_tuple.index(element_to_find)
print("Index of", element_to_find, ":", index_of_element)

Index of 3 : 2

In [7]:
element_to_check = 4
exists_in_tuple = element_to_check in my_tuple
print(element_to_check, "exists in the tuple:", exists_in_tuple)

4 exists in the tuple: True

In [8]:
my_list = list(my_tuple)
print("Converted to list:", my_list)

Converted to list: [1, 2, 3, 4, 5]

In [9]:
new_tuple = tuple(my_list)
print("Converted to tuple:", new_tuple)

Converted to tuple: (1, 2, 3, 4, 5)

In [10]:
a, b, c, d, e = my_tuple
print("Unpacked variables:", a, b, c, d, e)

Unpacked variables: 1 2 3 4 5

In [11]:
even_numbers = tuple(range(2, 11, 2))
print("Tuple of even numbers:", even_numbers)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [12]:
odd_numbers = tuple(range(1, 10, 2))
print("Tuple of odd numbers:", odd_numbers)

Tuple of odd numbers: (1, 3, 5, 7, 9)

In [13]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [14]:
repeated_tuple = my_tuple * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [15]:
empty_tuple = ()
is_empty = not bool(empty_tuple)
print("Is the tuple empty:", is_empty)

Is the tuple empty: True

In [16]:
nested_tuple = (1, (2, 3), 4)
print("Nested tuple:", nested_tuple)

Nested tuple: (1, (2, 3), 4)

In [17]:
first_element_nested = nested_tuple[0]
print("First element of nested tuple:", first_element_nested)

First element of nested tuple: 1

In [18]:
single_element_tuple = (42,)
print("Single-element tuple:", single_element_tuple)

Single-element tuple: (42,)

In [19]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_equal = tuple1 == tuple2
print("Are the tuples equal:", are_equal)

Are the tuples equal: True

In [25]:
my_tuple = (1, 2, 3, 4, 5)
max_value = max(my_tuple)
print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 5

In [26]:
my_tuple = (1, 2, 3, 4, 5)
min_value = min(my_tuple)
print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 1

In [27]:
my_string = "Hello"
char_tuple = tuple(my_string)
print("Tuple of characters:", char_tuple)

Tuple of characters: ('H', 'e', 'l', 'l', 'o')

In [28]:
char_tuple = ('H', 'e', 'l', 'l', 'o')
string_from_tuple = ''.join(char_tuple)
print("String from tuple:", string_from_tuple)

String from tuple: Hello

In [29]:
mixed_tuple = (1, 'two', 3.0, True)
print("Mixed data type tuple:", mixed_tuple)

Mixed data type tuple: (1, 'two', 3.0, True)

In [30]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 is tuple2
print("Are the tuples identical:", are_identical)

Are the tuples identical: False

In [31]:
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 4, 5)

In [32]:
int_tuple = (1, 2, 3)
str_tuple = tuple(map(str, int_tuple))
print("Tuple of strings:", str_tuple)

Tuple of strings: ('1', '2', '3')

In [33]:
str_tuple = ('1', '2', '3')
int_tuple = tuple(map(int, str_tuple))
print("Tuple of integers:", int_tuple)

Tuple of integers: (1, 2, 3)

In [34]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [35]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6)

In [36]:
prime_numbers = (2, 3, 5, 7, 11)
print("Tuple of prime numbers:", prime_numbers)

Tuple of prime numbers: (2, 3, 5, 7, 11)

In [37]:
is_palindrome = my_tuple == my_tuple[::-1]
print("Is the tuple a palindrome:", is_palindrome)

Is the tuple a palindrome: False

In [38]:
squares_tuple = tuple(x**2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [39]:
odd_numbers = tuple(x for x in my_tuple if x % 2 != 0)
print("Tuple of odd numbers:", odd_numbers)

Tuple of odd numbers: (1, 3, 5)

In [40]:
multiplied_tuple = tuple(x * 2 for x in my_tuple)
print("Multiplied tuple:", multiplied_tuple)

Multiplied tuple: (2, 4, 6, 8, 10)

In [41]:
import random

random_numbers = tuple(random.randint(1, 100) for _ in range(5))
print("Tuple of random numbers:", random_numbers)

Tuple of random numbers: (87, 65, 88, 51, 69)

In [42]:
is_sorted = all(my_tuple[i] <= my_tuple[i+1] for i in range(len(my_tuple)-1))
print("Is the tuple sorted:", is_sorted)

Is the tuple sorted: True

In [43]:
n = 2  # Change this to the desired number of positions
left_rotated_tuple = my_tuple[n:] + my_tuple[:n]
print(f"Left rotated tuple by {n} positions:", left_rotated_tuple)

Left rotated tuple by 2 positions: (3, 4, 5, 1, 2)

In [44]:
n = 2  # Change this to the desired number of positions
right_rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print(f"Right rotated tuple by {n} positions:", right_rotated_tuple)

Right rotated tuple by 2 positions: (4, 5, 1, 2, 3)

In [45]:
def generate_fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return tuple(fib_sequence)

fibonacci_tuple = generate_fibonacci(5)
print("Tuple of Fibonacci numbers:", fibonacci_tuple)

Tuple of Fibonacci numbers: (0, 1, 1, 2, 3)

In [47]:
user_input_tuple = tuple(map(int, input("Enter space-separated numbers: ").split()))
print("Tuple from user input:", user_input_tuple)

Enter space-separated numbers:  24 35

Tuple from user input: (24, 35)

In [48]:
index1, index2 = 1, 3  # Change these indices to the elements you want to swap
swapped_tuple = list(my_tuple)
swapped_tuple[index1], swapped_tuple[index2] = swapped_tuple[index2], swapped_tuple[index1]
swapped_tuple = tuple(swapped_tuple)
print("Tuple after swapping elements:", swapped_tuple)

Tuple after swapping elements: (1, 4, 3, 2, 5)

In [49]:
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [50]:
n = 4  # Change this to the desired number of powers
powers_of_2 = tuple(2 ** i for i in range(n))
print(f"Tuple of the first {n} powers of 2:", powers_of_2)

Tuple of the first 4 powers of 2: (1, 2, 4, 8)

In [51]:
string_tuple = ('apple', 'banana', 'kiwi', 'strawberry')
longest_string = max(string_tuple, key=len)
print("Longest string in the tuple:", longest_string)

Longest string in the tuple: strawberry

In [52]:
shortest_string = min(string_tuple, key=len)
print("Shortest string in the tuple:", shortest_string)

Shortest string in the tuple: kiwi

In [53]:
def triangular_number(n):
    return n * (n + 1) // 2

n = 5  # Change this to the desired number of triangular numbers
triangular_numbers = tuple(triangular_number(i) for i in range(1, n+1))
print(f"Tuple of the first {n} triangular numbers:", triangular_numbers)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [54]:
subsequence_tuple = (3, 4)
contains_subsequence = any(subsequence_tuple == my_tuple[i:i+len(subsequence_tuple)] for i in range(len(my_tuple) - len(subsequence_tuple) + 1))
print("Does the tuple contain the subsequence:", contains_subsequence)

Does the tuple contain the subsequence: True

In [55]:
n = 6  # Change this to the desired length
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(f"Tuple of alternating 1s and 0s of length {n}:", alternating_tuple)

Tuple of alternating 1s and 0s of length 6: (1, 0, 1, 0, 1, 0)

In [57]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print("Set after adding element:", my_set)

Set after adding element: {1, 2, 3, 4, 5, 6}

In [58]:
my_set.remove(3)
print("Set after removing element:", my_set)

Set after removing element: {1, 2, 4, 5, 6}

In [59]:
element_to_check = 4
exists_in_set = element_to_check in my_set
print(element_to_check, "exists in the set:", exists_in_set)

4 exists in the set: True

In [60]:
set_length = sum(1 for _ in my_set)
print("Length of the set:", set_length)

Length of the set: 5

In [72]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

In [62]:
even_numbers_set = {x for x in range(2, 11, 2)}
print("Set of even numbers:", even_numbers_set)

Set of even numbers: {2, 4, 6, 8, 10}

In [63]:
odd_numbers_set = {x for x in range(1, 10, 2)}
print("Set of odd numbers:", odd_numbers_set)

Set of odd numbers: {1, 3, 5, 7, 9}

In [64]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of two sets:", union_set)

Union of two sets: {1, 2, 3, 4, 5}

In [65]:
intersection_set = set1.intersection(set2)
print("Intersection of two sets:", intersection_set)

Intersection of two sets: {3}

In [66]:
difference_set = set1.difference(set2)
print("Difference between two sets:", difference_set)

Difference between two sets: {1, 2}

In [67]:
subset_check = set1.issubset(set2)
print("Is set1 a subset of set2:", subset_check)

Is set1 a subset of set2: False

In [68]:
superset_check = set1.issuperset(set2)
print("Is set1 a superset of set2:", superset_check)

Is set1 a superset of set2: False

In [69]:
my_list = [1, 2, 3, 4, 5]
set_from_list = set(my_list)
print("Set from list:", set_from_list)

Set from list: {1, 2, 3, 4, 5}

In [70]:
list_from_set = list(my_set)
print("List from set:", list_from_set)

List from set: []

In [76]:
popped_element = my_set.pop()
print("Popped element:", popped_element)

Popped element: 1

In [77]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common_elements = set1.isdisjoint(set2)
print("Do the sets have no elements in common:", no_common_elements)

Do the sets have no elements in common: True

In [78]:
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference between two sets:", symmetric_difference_set)

Symmetric difference between two sets: {1, 2, 3, 4, 5, 6}

In [79]:
set1.update(set2)
print("Set1 after updating with elements from set2:", set1)

Set1 after updating with elements from set2: {1, 2, 3, 4, 5, 6}

In [80]:
prime_numbers_set = {2, 3, 5, 7, 11}
print("Set of prime numbers:", prime_numbers_set)

Set of prime numbers: {2, 3, 5, 7, 11}

In [81]:
set3 = {1, 2, 3}
are_identical = set1 == set3
print("Are the sets identical:", are_identical)

Are the sets identical: False

In [82]:
frozen_set = frozenset(my_set)
print("Frozen set:", frozen_set)

Frozen set: frozenset({4, 5})

In [83]:
disjoint_check = my_set.isdisjoint(set2)
print("Are the sets disjoint:", disjoint_check)

Are the sets disjoint: False

In [84]:
squares_set = {x**2 for x in range(1, 6)}
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

In [85]:
even_numbers_set = {x for x in my_set if x % 2 == 0}
print("Set of odd numbers:", even_numbers_set)

Set of odd numbers: {4}

In [86]:
multiplied_set = {x * 2 for x in my_set}
print("Multiplied set:", multiplied_set)

Multiplied set: {8, 10}

In [87]:
import random

random_set = {random.randint(1, 100) for _ in range(5)}
print("Set of random numbers:", random_set)

Set of random numbers: {33, 11, 12, 56, 30}

In [88]:
is_empty = not bool(my_set)
print("Is the set empty:", is_empty)

Is the set empty: False

In [89]:
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print("Nested set:", nested_set)

Nested set: {frozenset({3, 4}), frozenset({1, 2})}

In [90]:
element_to_remove = 3
my_set.discard(element_to_remove)
print("Set after discarding element:", my_set)

Set after discarding element: {4, 5}

In [91]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
are_equal = set1 == set2
print("Are the sets equal:", are_equal)

Are the sets equal: False

In [92]:
my_string = "hello"
string_set = set(my_string)
print("Set from string:", string_set)

Set from string: {'e', 'o', 'l', 'h'}

In [93]:
string_set = {'1', '2', '3'}
int_set = {int(x) for x in string_set}
print("Set of integers:", int_set)

Set of integers: {1, 2, 3}

In [94]:
int_set = {1, 2, 3}
string_set = {str(x) for x in int_set}
print("Set of strings:", string_set)

Set of strings: {'1', '2', '3'}

In [95]:
my_tuple = (1, 2, 3)
tuple_set = set(my_tuple)
print("Set from tuple:", tuple_set)

Set from tuple: {1, 2, 3}

In [96]:
set_to_tuple = tuple(my_set)
print("Tuple from set:", set_to_tuple)

Tuple from set: (4, 5)

In [97]:
max_value = max(my_set)
print("Maximum value in the set:", max_value)

Maximum value in the set: 5

In [98]:
min_value = min(my_set)
print("Minimum value in the set:", min_value)

Minimum value in the set: 4

In [99]:
user_input_set = set(map(int, input("Enter space-separated numbers: ").split()))
print("Set from user input:", user_input_set)

Enter space-separated numbers:  23 56 78

Set from user input: {56, 78, 23}

In [100]:
intersection_empty = set1.isdisjoint(set2)
print("Is the intersection empty:", intersection_empty)

Is the intersection empty: False

In [101]:
intersection_empty = set1.isdisjoint(set2)
print("Is the intersection empty:", intersection_empty)

Is the intersection empty: False

In [102]:
def generate_fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return set(fib_sequence)

fibonacci_set = generate_fibonacci(5)
print("Set of Fibonacci numbers:", fibonacci_set)

Set of Fibonacci numbers: {0, 1, 2, 3}

In [103]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

In [104]:
set3 = {3, 2, 1, 3, 2, 1}
have_same_elements = set1 == set3
print("Do the sets have the same elements:", have_same_elements)

Do the sets have the same elements: True

In [105]:
n = 4  # Change this to the desired number of powers
powers_of_2_set = {2 ** i for i in range(n)}
print(f"Set of the first {n} powers of 2:", powers_of_2_set)

Set of the first 4 powers of 2: {8, 1, 2, 4}

In [106]:
common_elements = set1.intersection(set(my_list))
print("Common elements between set and list:", common_elements)

Common elements between set and list: {1, 2, 3}

In [107]:
def triangular_number(n):
    return n * (n + 1) // 2

n = 5  # Change this to the desired number of triangular numbers
triangular_numbers_set = {triangular_number(i) for i in range(1, n+1)}
print(f"Set of the first {n} triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [108]:
subset_to_check = {2, 3}
is_subset = subset_to_check.issubset(my_set)
print("Is the subset a subset of the set:", is_subset)

Is the subset a subset of the set: False

In [109]:
n = 6  # Change this to the desired length
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 6: {0, 1}

In [110]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}